/*----------------------------------------*/

/* Template default CSS
/*----------------------------------------*/

html,
body {
	height: 100%;
	font-family: "Open Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #111111;
	font-weight: 400;
	font-family: "Quantico", sans-serif;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 15px;
	font-family: "Open Sans", sans-serif;
	color: #666666;
	font-weight: 400;
	line-height: 26px;
	margin: 0 0 0 0;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: #fff;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

/* buttons */

.primary-btn {
	display: inline-block;
	font-size: 16px;
	padding: 14px 30px;
	color: #ffffff;
	background: #009603;
	text-transform: uppercase;
	font-weight: 700;
	font-family: "Quantico", sans-serif;
}

.site-btn {
	font-size: 15px;
	color: #ffffff;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: "Quantico", sans-serif;
	display: inline-block;
	padding: 14px 30px 12px;
	background: #009603;
	border: none;
}

/*--------------------------------------------------------------
# Global 
--------------------------------------------------------------*/
/*---------------------
PRELODER
-----------------------*/

#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #000;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

/*---------------------
CTA-SECTION
-----------------------*/
.cta-section {
	margin-top: 85px;
	padding-top: 50px;
	padding-bottom: 40px;
}

.cta-text {
	text-align: center;
}

.cta-text h2 {
	font-size: 50px;
	color: #ffffff;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.cta-text p {
	font-size: 17px;
	line-height: 30px;
	color: #ffffff;
	margin-bottom: 30px;
}

/*---------------------
SPAD
-----------------------*/
.spad {
	padding-top: 100px;
	padding-bottom: 100px;
}


/*---------------------
SET-BG
-----------------------*/
.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

/*---------------------
CTA-TEXT
-----------------------*/


/*---------------------
TESTIMONIAL-SECTION
-----------------------*/
/*.testimonial-section {
	padding-bottom: 40px;
	}*/

	.testimonial-section .section-title {
		text-align: left;
		margin-top: 50px;
		margin-bottom: 50px;   
	}

	.testimonial-section .form-select {
		margin-top: 25px;
		margin-left: 30%;
		margin-right: 70%;
		margin-bottom: 25px;
	}

	.testimonial-section .button {
		background-color: white;
		border-color: #181d1d;
		color: black;
		padding: 5px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 12px;
		font-weight: bold;
		margin: 4px;
		cursor: pointer;
		border-radius: 40px;
		width: 200px;
	}	

	.testimonial-section .button:hover {
		opacity: 1;
		background-color: #181d1d;
		color: #009603;
	}	

	.testimonial-section .button.active {
		background-color: #181d1d;
		color: #009603;
	}

/*.testimonial-section ul{
	list-style-type: none; 
	overflow: hidden;
	text-align: center;
}

.testimonial-section li{
	float: left; 
	text-align: center;
}

.testimonial-section ul li a:hover{
	opacity: 1;
	color: #009603;
}

.testimonial-section ul li.active a {
	color: #009603;
}

.testimonial-section li a {
	font-size: 15px;
	display: block;
	color: black;
	margin-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	text-decoration: none; 
	text-align: center;
	width:100%;
	cursor: pointer;
}

.testimonial-section li a::before {
	content: "|"; /* Insert content that looks like bullets */
	/* padding-right:16px;
	color: green; /* Or a color you prefer */
	/*font-weight: bold;*/
	/*font-size: 25px;
	}*/


	.testimonial-section .section-title h4{
		color: white; 
		margin-left: 150px;
		margin-right: 150px;
		font-size: 20px;
	}

	.testimonial-section .section-title1 {
		text-align: justify; 
		margin-bottom: 30px;
		margin-left: 30px;
		margin-right: 30px;
	}

	.testimonial-section img.center{
		display: block;
		margin: 0 auto;
		padding-top: 20px;
		padding-bottom: 20px;
		width:110%;
	}

	.testimonial-item {
		border-top: 5px solid #e1e1e1;
		padding-top: 30px;
		position: relative;
		margin-bottom: 30px;
	}

	.testimonial-item:before {
		position: absolute;
		left: 0;
		top: -12px;
		background-image: url(../img/testimonial/quote.png);
		background-repeat: no-repeat;
		content: "";
		height: 26px;
		width: 26px;
		background-color: #ffffff;
	}

	.testimonial-item .ti-author {
		overflow: hidden;
		margin-bottom: 18px;
	}

	.testimonial-item .ti-author .ta-pic {
		margin-right: 25px;
		float: left;
	}

	.testimonial-item .ti-author .ta-pic img {
		height: 90px;
		width: 90px;
		border-radius: 50%;
	}

	.testimonial-item .ti-author .ta-text {
		overflow: hidden;
		padding-top: 24px;
	}

	.testimonial-item .ti-author .ta-text h5 {
		color: #111111;
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 5px;
	}

	.testimonial-item .ti-author .ta-text span {
		font-size: 15px;
		color: #888888;
	}

	.testimonial-item p {
		color: #444444;
		margin-bottom: 0;
	}

/*---------------------
ABOUT-TEXT
-----------------------*/
.about-text {
	background: white;
	padding-left: 100px;
	padding-right: 100px;
	width: 100%;
	height: auto;
} 

.about-text .section-title h2 {
	line-height: 47px;
	margin-bottom: 30px;
}

.about-text .section-title p {
	white-space: pre-line;
	text-align: justify;
	font-weight: 600;	
	color: black;
	font-size: 17px;
}

.about-text .at-list .al-item {
	margin-bottom: 50px;
	overflow: hidden;
}

.about-text .at-list .al-item:last-child {
	margin-bottom: 0;
}

.about-text .at-list .al-item .al-pic {
	height: 100px;
	width: 100px;
	line-height: 100px;
	text-align: center;
	background: #ffffff;
	float: left;
	margin-right: 30px;
}

.about-text .at-list .al-item .al-text {
	overflow: hidden;
}

.about-text .at-list .al-item .al-text h5 {
	font-size: 20px;
	color: #111111;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 8px;
}

.about-text .at-list .al-item .al-text p {
	color: #666666;
	margin-bottom: 0;
}

/*---------------------
SECTION-TITLE
-----------------------*/
.section-title {
	margin-bottom: 40px;
}

.section-title h2 {
	color: #111111;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.section-title p {
	color: #666666;
}

/*---------------------
FS-ABOUT
-----------------------*/
.fs-about {
	margin-bottom: 30px;
}

.fs-about .fa-logo {
	margin-bottom: 34px;
}

/*--------------------------------------------------------------
# Global
--------------------------------------------------------------*/

/*--------------------------------------------------------------
NAVBAR.PHP
--------------------------------------------------------------*/
/*---------------------
HEADER-SECTION
-----------------------*/
.header-section .header-normal {
	-webkit-box-shadow: 0px 5px 25px rgba(170, 170, 170, 0.1);
	box-shadow: 0px 5px 25px rgba(170, 170, 170, 0.1);
}

/*---------------------
LOGO
-----------------------*/
.logo {
	float: left;
	padding: 30px 0;
	margin-right: 60px;
}

.logo a {
	display: inline-block;
}

/*---------------------
NAV-MENU
-----------------------*/
.slicknav_menu {
	display: none;
}

.nav-menu {
	float: right;
}

.nav-menu ul li {
	list-style: none;
	display: inline-block;
	margin-right: 20px;
	position: relative;
}

.nav-menu ul li a {
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	color: #111111;
	display: block;
	padding: 32px 3px 30px;
	position: relative;
	font-family: "Quantico", sans-serif;
}

.nav-menu ul li a:after {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	width: 100%;
	background: #009603;
	content: "";
	opacity: 0;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.nav-menu ul li a:hover,
.nav-menu ul li.active a{
	opacity: 1;
	color: #009603;
}

.nav-menu ul li .dropdown {
	position: absolute;
	left: 0;
	top: 105px;
	background: #111111;
	width: 280px;
	z-index: 99;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.nav-menu ul li:hover .dropdown {
	top: 86px;
	opacity: 1;
	visibility: visible;
}

.nav-menu ul li .dropdown li {
	display: block;
	margin-right: 0;
}

.nav-menu ul li .dropdown li.active a {
	opacity: 1;
	color: #009603;
}

.nav-menu ul li .dropdown li a {
	color: #ffffff;
	padding: 5px 18px;
	font-weight: 400;
	text-transform: capitalize;
}

.nav-menu ul li .dropdown li a:hover {
	color: #009603;
}

.nav-menu ul li .dropdown li a:after {
	display: none;
}

.nav-menu ul li:hover>a:after,
.nav-menu ul li.active a:after {
	opacity: 1;
}    

.nav-menu ul li.lang {
	border: 2px solid black;
	border-radius: 20px;
	height: 30px;
	margin-top: 30px;
} 

.nav-menu ul li.lang:hover>a:after {
	opacity: 0;
}

.nav-menu ul li.lang a {
	display: inline-block;
	padding-top: 0px; 
	color: #003166;
}

.nav-menu ul li.lang a.slash { 
	padding-top: 0px; 
	padding-left: 3px;
	padding-right: 0px;
	color: #B3E5FC;
	cursor: none;
}

/*---------------------
GSC-CONTROL-CSE
-----------------------*/
.gsc-control-cse {
	margin-top: 25px !important; 
	padding:1px !important;
	width: 150px !important;
} 

.gsc-search-box .gsc-input{
	padding-right: 0px  !important;
}

.gsc-control-cse .gsc-search-button{
	display: none;
}

/*--------------------------------------------------------------
NAVBAR.PHP
--------------------------------------------------------------*/

/*--------------------------------------------------------------
MODAL.PHP
--------------------------------------------------------------*/
/*---------------------
MODAL-DIALOG
-----------------------*/
.modal-dialog {
	max-width: 800px;
	margin: 30px auto;
}

/*---------------------
MODAL-BODY
-----------------------*/
.modal-body {
	position:relative;
	padding:0px;
}

/*---------------------
CLOSE
-----------------------*/
.close {
	position:absolute;
	right:-30px;
	top:0;
	z-index:999;
	font-size:2rem;
	font-weight: normal;
	color:#fff;
	opacity:1;
}
/*--------------------------------------------------------------
MODAL.PHP
--------------------------------------------------------------*/

/*--------------------------------------------------------------
BOARD-OF-DIRECTORS.PHP
--------------------------------------------------------------*/
/*---------------------
FA-LOGO1
-----------------------*/
.fs-about .fa-logo1 img{ 
	border-style: solid;
	border-color: rgb(0, 0, 0, 0.5);
	margin-top: 20px;
	width: 100%;
	height: 400px;
	object-fit: cover;
}

.fs-about .fa-logo1 .content {
	position: relative;
	border-style: solid;
	border-color: rgb(0, 0, 0, 0.5);
	bottom: 0;
	background: rgb(0, 0, 0); /* Fallback color */
	background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
	color: #f1f1f1;
	width: 100%;
	padding: 20px;
	height: 150px; 
}

.fs-about .fa-logo1 .fa-name{
	position: absolute;
	bottom: 25px; 
}

.fs-about .fa-logo1 .fa-name h2{
	font-size: 30px;
}

.fs-about .fa-logo1 .content .fa-name i {
	margin-left: 50px; 
	cursor: pointer;
}

.fs-about .fa-logo1 .panel-collapse .panel-body{
	/*position: absolute;*/
	bottom: 0;
	background: rgb(0, 0, 0); /* Fallback color */
	background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
	color: #f1f1f1;
	width: 100px;
	padding: 20px;
}

/*--------------------------------------------------------------
BOARD-OF-DIRECTORS.PHP
--------------------------------------------------------------*/

/*--------------------------------------------------------------
COAL-SHIPPING.PHP
--------------------------------------------------------------*/
/*---------------------
FA-LOGO2
-----------------------*/
.fs-about .fa-logo2 img{ 
	margin-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
	width: 100%;
	height: 200px;
	object-fit: cover;
}

.fs-about .fa-logo2 h6 { 
	padding-top: 20px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}

.fs-about .fa-logo2 a:hover { 
	top: 86px;
	opacity: 1;
	visibility: visible;
	color: #FF0000
}

.fs-about .fa-logo2 p { 
	text-align: center;
	margin-bottom: 0px;
	font-size: 20px;
}
/*--------------------------------------------------------------
COAL-SHIPPING.PHP
--------------------------------------------------------------*/

/*--------------------------------------------------------------
QUALITY-CONTROL.PHP
--------------------------------------------------------------*/
/*---------------------
FA-LOGO2
-----------------------*/
nav > .nav.nav-tabs{

	border: none;
	color:#fff;
	background:#272e38;
	border-radius:0;

}

nav > div a.nav-item.nav-link
{
	border: none;
	padding: 18px 25px;
	color:#fff;
	background:#272e38;
	border-radius:0;
}

nav > div a.nav-item.nav-link.active{
	border: none;
	padding: 18px 25px;
	color:#fff;
	background:#e74c3c;
	border-radius:0;
}

nav > div a.nav-item.nav-link.active:after
{ 
	position: relative;
	bottom: -60px;
	left: -10%;
	border: 15px solid transparent;
	border-top-color: #e74c3c ;
}

.tab-content{
	background: #fdfdfd;
	line-height: 25px;
	border: 1px solid #ddd;
	border-top:5px solid #e74c3c;
	border-bottom:5px solid #e74c3c;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus
{
	border: none;
	background: #e74c3c;
	color:#fff;
	border-radius:0;
	transition:background 0.20s linear;
}
/*--------------------------------------------------------------
QUALITY-CONTROL.PHP
--------------------------------------------------------------*/

/*--------------------------------------------------------------
INDEX.PHP
--------------------------------------------------------------*/
.hs-slider.owl-carousel .owl-item.active .hs-text h2 {
	top: 0;
	opacity: 1;
}

.hs-slider.owl-carousel .owl-item.active .hs-text p {
	top: 0;
	opacity: 1;
}

.hs-slider.owl-carousel .owl-item.active .hs-text .primary-btn {
	top: 0;
	opacity: 1;
}

.hs-slider.owl-carousel .owl-nav button {
	font-size: 24px;
	color: #ffffff;
	height: 50px;
	width: 50px;
	line-height: 50px;
	text-align: center;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 50%;
	position: absolute;
	left: 100px;
	top: 50%;
	-webkit-transform: translateY(-25px);
	-ms-transform: translateY(-25px);
	transform: translateY(-25px);
}

.hs-slider.owl-carousel .owl-nav button.owl-next {
	left: auto;
	right: 100px;
}

.hs-item {
	margin-top:85px;
	height: 600px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
}

.hs-item .hs-text h2 {
	font-size: 60px;
	color: #ffffff;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 20px;
	position: relative;
	top: 100px;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	opacity: 0;
}

.hs-item .hs-text p {
	color: #ffffff;
	line-height: 30px;
	margin-top:500px;
	margin-bottom: 32px;
	position: relative;
	top: 100px;
	-webkit-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	opacity: 0;
}

.hs-item .hs-text .primary-btn {
	position: relative;
	top: 100px;
	-webkit-transition: all 0.7s ease-out;
	-o-transition: all 0.7s ease-out;
	transition: all 0.7s ease-out;
	opacity: 0;
}

.services {
	padding-bottom: 30px;
}

.services .icon-box {
	margin-bottom: 20px;
	padding: 30px 15px;
	border-radius: 6px;
	background: #fff;
}

.services .icon-box i {
	float: left;
	color: #4eb478;
	font-size: 40px;
}

.services .icon-box h4 {
	margin-left: 70px;
	font-weight: 700;
	margin-bottom: 15px;
	font-size: 18px;
}

.services .icon-box h4 a {
	color: #444444;
	transition: 0.3s;
}

.services .icon-box .icon-box:hover h4 a {
	color: #4eb478;
}

.services .icon-box p {
	margin-left: 70px;
	line-height: 24px;
	font-size: 14px;
}

/*--------------------------------------------------------------
INDEX.PHP
--------------------------------------------------------------*/

/*--------------------------------------------------------------
CONTACT.PHP
--------------------------------------------------------------*/
.contact-text h3 {
	color: #111111;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.contact-text p {
	color: #111111;
	margin-bottom: 32px;
}

.contact-text .ct-item {
	overflow: hidden;
	margin-bottom: 30px;
}

.contact-text .ct-item .ct-icon {
	height: 80px;
	width: 80px;
	background: #009603;
	border-radius: 50%;
	font-size: 40px;
	line-height: 80px;
	text-align: center;
	color: #ffffff;
	float: left;
	margin-right: 30px;
}

.contact-text .ct-item .ct-text {
	overflow: hidden;
	padding-top: 12px;
}

.contact-text .ct-item .ct-text h5 {
	font-size: 20px;
	color: #111111;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.contact-text .ct-item .ct-text p {
	color: #444444;
	margin-bottom: 0;
}

.contact-text .ct-item .ct-text ul li {
	list-style: none;
	display: inline-block;
	margin-right: 30px;
	font-size: 15px;
	color: #444444;
	position: relative;
}

.contact-text .ct-item .ct-text ul li:after {
	position: absolute;
	right: -20px;
	top: -2px;
	content: "|";
}

.contact-text .ct-item .ct-text ul li:last-child {
	margin-right: 0;
}

.contact-text .ct-item .ct-text ul li:last-child:after {
	display: none;
}

.contact-form h3 {
	color: #111111;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 35px;
}

.contact-form form input {
	height: 50px;
	width: 100%;
	padding-left: 20px;
	font-size: 14px;
	color: #444444;
	background: transparent;
	margin-bottom: 30px;
	border: 1px solid #e1e1e1;
}

.contact-form form input::-webkit-input-placeholder {
	color: #444444;
}

.contact-form form input::-moz-placeholder {
	color: #444444;
}

.contact-form form input:-ms-input-placeholder {
	color: #444444;
}

.contact-form form input::-ms-input-placeholder {
	color: #444444;
}

.contact-form form input::placeholder {
	color: #444444;
}

.contact-form form textarea {
	width: 100%;
	padding-left: 20px;
	padding-top: 12px;
	height: 100px;
	font-size: 14px;
	color: #444444;
	background: transparent;
	resize: none;
	border: 1px solid #e1e1e1;
	margin-bottom: 24px;
}

.contact-form form textarea::-webkit-input-placeholder {
	color: #444444;
}

.contact-form form textarea::-moz-placeholder {
	color: #444444;
}

.contact-form form textarea:-ms-input-placeholder {
	color: #444444;
}

.contact-form form textarea::-ms-input-placeholder {
	color: #444444;
}

.contact-form form textarea::placeholder {
	color: #444444;
}
/*--------------------------------------------------------------
CONTACT.PHP
--------------------------------------------------------------*/

/*--------------------------------------------------------------
FOOTER.PHP
--------------------------------------------------------------*/
/*---------------------
BACK TO TOP BUTTON 
-----------------------*/
.back-to-top {
	position: fixed;
	display: none;
	right: 15px;
	bottom: 15px;
	z-index: 99999;
}

.back-to-top i {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	width: 40px;
	height: 40px;
	border-radius: 4px;
	background: #666666;
	color: #fff;
	transition: all 0.4s;
}

.back-to-top i:hover {
	background: #009603;
	color: #fff;
}

/*---------------------
FOOTER-SECTION
-----------------------*/
.footer-section {
	background: #000606; 
}

/*---------------------
COPYRIGHT-TEXT
-----------------------*/
.copyright-text { 
	font-size: 15px;
	color: #c4c4c4;
	text-align: center;
	border-top: 1px solid #181d1d;
	padding: 30px 0; 
}

.copyright-text p{
	font-weight: 700; 
}

.copyright-text a{
	color: #666666;
}

.copyright-text a:hover{
	color: #009603;
}

/*--------------------------------------------------------------
FOOTER.PHP
--------------------------------------------------------------*/


@media only screen and (min-width: 1430px) {
	.container {
		max-width: 1400px !important;
	}
	.logo {
		margin-right: 150px;
		margin-left: 85px;
	}
	.about-text {
		padding-left: 100px;
		padding-right: 110px;
	}
	.header-section {
		padding-right: 85px;
	}
	.fs-about .fa-logo1 .fa-name{
		position: absolute;
		font-size: 25px;
		bottom: 0;
	}
}

@media only screen and (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
	.timeline {
		margin-bottom: 30px;
	}
	.timeline:before {
		left: 50%;
	}
	.timeline > li {
		min-height: 100px;
		margin-bottom: 50px;
	}
	.timeline > li .timeline-panel {
		float: left;
		width: 41%;
		padding: 0 20px 20px 30px;
		text-align: right;
	}
	.timeline > li .timeline-image {
		left: 50%;
		width: 100px;
		height: 100px;
		margin-left: -50px;
	}
	.timeline > li .timeline-image h6 {
		font-size: 13px;
		line-height: 18px;
		margin-top: 16px;
	}
	.timeline > li.timeline-inverted > .timeline-panel {
		float: right;
		padding: 0 30px 20px 20px;
		text-align: left;
	}
}

/* Medium Device = 1200px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.hs-slider.owl-carousel .owl-nav button {
		left: 50px;
	}
	.hs-slider.owl-carousel .owl-nav button.owl-next {
		right: 50px;
	}
	.logo {
		margin-right: 20px;
	}
	.nav-menu ul li {
		margin-right: 5px;
	}
	.about-text {
		padding-left: 30px;
		padding-right: 30px; 
		height: auto;
	}
	.fs-about .fa-logo1 .fa-name{
		position: absolute;
		font-size: 25px;
		bottom: 0;
	}
	.fs-about .fa-logo1 .content .fa-name i {
		float: right; 
	}
	.testimonial-section li{ 
		float: none;
		text-align: center;
	}
	.testimonial-section li a::before {
		content: none; /* Insert content that looks like bullets */ 
	}
	.timeline {
		margin-bottom: 30px;
	}
	.timeline > li {
		min-height: 150px;
	}
	.timeline > li .timeline-panel {
		padding: 0 20px 20px;
	}
	.timeline > li .timeline-image {
		width: 150px;
		height: 150px;
		margin-left: -75px;
	}
	.timeline > li .timeline-image h6 {
		font-size: 18px;
		line-height: 26px;
		margin-top: 30px;
	}
	.timeline > li.timeline-inverted > .timeline-panel {
		padding: 0 20px 20px;
	}
}

/* Tablet Device = 768px */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.hs-slider.owl-carousel .owl-nav button {
		left: 10px;
	}
	.hs-slider.owl-carousel .owl-nav button.owl-next {
		right: 10px;
	}
	.testimonial-section .section-title h4{
		margin-left: 50px; 
		margin-right: 50px;
	}
	.testimonial-section li{ 
		float: none;
		text-align: center;
	}
	.testimonial-section li a::before {
		content: none; /* Insert content that looks like bullets */ 
	}
	.about-text {
		padding-left: 30px;
		padding-right: 30px;
		height: auto;
	}
	.nav-menu {
		display: none;
	}
	.nav-menu ul li.lang a.slash {
		display: none;
	}
	.slicknav_menu {
		display: block;
		background: transparent;
	}
	.slicknav_menu .slicknav_menutxt {
		display: none;
	}
	.slicknav_btn {
		margin: 0;
		background-color: transparent;
		padding: 0;
		margin-top: 30px;
	}
	.slicknav_menu .slicknav_icon-bar {
		background-color: #111;
		width: 20px;
		height: 3px;
	}
	.slicknav_nav {
		background: #111;
	}
	.slicknav_nav ul {
		margin: 0;
	}
	.slicknav_nav a:hover {
		border-radius: 0;
		background: #009603;
		color: #fff;
	}
	.slicknav_nav .slicknav_row:hover {
		border-radius: 0;
		background: #009603;
		color: #fff;
	}
	.slicknav_nav .slicknav_row,
	.slicknav_nav a {
		padding: 8px 30px;
		margin: 0;
	}
	.slicknav_nav a.slash {
		display: none;
	}
	.header-section .container-fluid {
		position: relative;
	}
	.logo {
		margin-right: 0;
	}
	.fs-about .fa-logo1 .fa-name{
		position: absolute;
		font-size: 25px;
		bottom: 0;
	}
	.fs-about .fa-logo1 .content .fa-name i {
		float: right; 
	}
	.gsc-control-cse {
	    margin-top: 0 !important;  
	    width: auto !important; 
	} 
	.gsc-search-box .gsc-input{
		padding-right: 12px  !important;
	}
	.gsc-control-cse .gsc-search-button{
		display: block;
	} 
	.timeline {
		margin-bottom: 30px;
	}
	.timeline > li {
		min-height: 170px;
	}
	.timeline > li .timeline-panel {
		padding: 0 20px 20px 100px;
	}
	.timeline > li .timeline-image {
		width: 170px;
		height: 170px;
		margin-left: -85px;
	}
	.timeline > li .timeline-image h6 {
		margin-top: 40px;
	}
	.timeline > li.timeline-inverted > .timeline-panel {
		padding: 0 100px 20px 20px;
	}
}

/* Wide Mobile = 480px */

@media only screen and (max-width: 767px) {
	.cta-section .cta-text h2{
		font-size: 45px;
	}
	.testimonial-section .section-title h4{
		margin-left: 0px; 
		margin-right: 0px;
	}
	.about-text {
		padding-left: 0px;
		padding-right: 0px; 
		height: auto;
	}
	.hs-slider.owl-carousel .owl-nav button {
		left: 0;
	}
	.hs-slider.owl-carousel .owl-nav button.owl-next {
		right: 0;
	}
	.right-btn {
		text-align: left;
		padding-top: 0;
		margin-bottom: 45px;
	}
	.nav-menu {
		display: none;
	}
	.nav-menu ul li.lang a.slash {
		display: none;
	}
	.slicknav_menu {
		display: block;
		background: transparent;
	}
	.slicknav_menu .slicknav_menutxt {
		display: none;
	}
	.slicknav_btn {
		margin: 0;
		background-color: transparent;
		padding: 0;
		margin-top: 30px;
	}
	.slicknav_menu .slicknav_icon-bar {
		background-color: #111;
		width: 20px;
		height: 3px;
	}
	.slicknav_nav {
		background: #111;
	}
	.slicknav_nav ul {
		margin: 0;
	}
	.slicknav_nav a:hover {
		border-radius: 0;
		background: #009603;
		color: #fff;
	}
	.slicknav_nav .slicknav_row:hover {
		border-radius: 0;
		background: #009603;
		color: #fff;
	}
	.slicknav_nav .slicknav_row,
	.slicknav_nav a {
		padding: 8px 30px;
		margin: 0;
	}
	.slicknav_nav a.slash {
		display: none;
	}
	.header-section .container-fluid {
		position: relative;
	}
	.gsc-control-cse {
	    margin-top: 0 !important;  
	    width: auto !important; 
	} 
	.gsc-search-box .gsc-input{
		padding-right: 12px  !important;
	}
	.gsc-control-cse .gsc-search-button{
		display: block;
	} 
	.logo {
		margin-right: 0;
	}
	.hs-item {
		margin-top: 100px;
		height: auto;
		padding: 150px 0 200px;
	}
	.fs-about .fa-logo1 .fa-name{
		position: absolute;
		font-size: 25px;
		bottom: 0;
	}
	.fs-about .fa-logo1 .content .fa-name i {
		float: right; 
	}
	.testimonial-section li{ 
		float: none;
		text-align: center;
	}
	.testimonial-section li a::before {
		content: none; /* Insert content that looks like bullets */ 
	}
}

/* Small Device = 320px */

@media only screen and (max-width: 479px) {
	.cta-section .cta-text h2{
		font-size: 35px;
	} 
	.cta-section .cta-text p{
		font-size: 15px;
	} 
	.testimonial-section .section-title h4{
		margin-left: 30px; 
		margin-right: 30px;
	}
	.about-text {
		padding-left: 30px;
		padding-right: 30px; 
		height: auto;
	}
	.slicknav_menu {
		display: block;
		background: transparent;
	}
	.slicknav_menu .slicknav_menutxt {
		display: none;
	}
	.slicknav_btn {
		margin: 0;
		background-color: transparent;
		padding: 0;
		margin-top: 30px;
	}
	.slicknav_menu .slicknav_icon-bar {
		background-color: #111;
		width: 20px;
		height: 3px;
	}
	.slicknav_nav {
		background: #111;
	}
	.slicknav_nav ul {
		margin: 0;
	}
	.slicknav_nav a:hover {
		border-radius: 0;
		background: #009603;
		color: #fff;
	}
	.slicknav_nav .slicknav_row:hover {
		border-radius: 0;
		background: #009603;
		color: #fff;
	}
	.slicknav_nav .slicknav_row,
	.slicknav_nav a {
		padding: 8px 30px;
		margin: 0;
	}
	.slicknav_nav a.slash {
		display: none;
	}
	.header-section .container-fluid {
		position: relative;
	}
	.gsc-control-cse {
	    margin-top: 0 !important;  
	    width: auto !important; 
	} 
	.gsc-search-box .gsc-input{
		padding-right: 12px  !important;
	}
	.gsc-control-cse .gsc-search-button{
		display: block;
	} 
	.logo {
		margin-right: 0;
	}
	.hs-item .hs-text h2 {
		font-size: 38px;
	}
	.fs-about .fa-logo1 .fa-name{
		position: absolute;
		font-size: 25px;
		bottom: 0;
	}
	.fs-about .fa-logo1 h3{
		font-size: 25px;			
	}
	.fs-about .fa-logo1 .content .fa-name i {
		float: right; 
	}
	.testimonial-section li{ 
		float: none;
		text-align: center;
	}
	.testimonial-section li a::before {
		content: none; /* Insert content that looks like bullets */ 
	}
}
/*--------------------------------------------------------------
------------------- Responsive Media Quaries -------------------
--------------------------------------------------------------*/