/*------------------------------------------------------------------
[Table of contents]

1.  Template default CSS
	1.1 Variables
	1.2 Mixins
	1.3 Flexbox
	1.4 Reset
2.  Helper Css
3.  Header Section
4.  Hero Section
5.  Service Section
6.  Categories Section
7.  Portfolio Section
8.  Trainer Section
9.  Contact
10.  Footer Style

-------------------------------------------------------------------*/
/*----------------------------------------*/

/* Template default CSS
/*----------------------------------------*/

html,
body {
	height: 100%;
	font-family: "Open Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #111111;
	font-weight: 400;
	font-family: "Quantico", sans-serif;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 15px;
	font-family: "Open Sans", sans-serif;
	color: #666666;
	font-weight: 400;
	line-height: 26px;
	margin: 0 0 0 0;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: #fff;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

/* buttons */

.primary-btn {
	display: inline-block;
	font-size: 16px;
	padding: 14px 30px;
	color: #ffffff;
	background: #2680fc;
	text-transform: uppercase;
	font-weight: 700;
	font-family: "Quantico", sans-serif;
	border-color: none;
}

.site-btn {
	font-size: 15px;
	color: #ffffff;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: "Quantico", sans-serif;
	display: inline-block;
	padding: 14px 30px 12px;
	background: #009603;
	border: none;
	border-radius: 20px;
}

.margin{
	padding-left: 10px !important;
	padding-right: 10px !important;
	padding-top: 30px !important;
	padding-bottom: 10px !important;
}
/*--------------------------------------------------------------
# Global 
--------------------------------------------------------------*/
/*---------------------
PRELODER
-----------------------*/

#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #000;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

/*---------------------
CTA-SECTION
-----------------------*/
.cta-section {
	margin-top: 85px;
/*	padding-top: 50px;
	padding-bottom: 40px;*/
}

.cta-text {
	text-align: center;
}

.cta-text h2 {
	font-size: 60px;
	color: #ffffff;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.cta-text p {
	font-size: 16px;
	color: #ffffff; 
}

/*---------------------
SPAD
-----------------------*/
.spad {
	padding-top: 10%;
	padding-bottom: 10%;
}

/*---------------------
SET-BG
-----------------------*/
.set-bg { 
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}
/*---------------------
CTA-TEXT
-----------------------*/

/*---------------------
TESTIMONIAL-SECTION
-----------------------*/ 
.testimonial-section .button { /*Button After SubHeading EX: coal-shipping.php*/
	background-color: white;
	border-color: #181d1d;
	color: black;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	margin: 4px;
	cursor: pointer;
	border-radius: 40px;
	width: 200px;
}   

.testimonial-section .button:hover,
.testimonial-section .button.active {
	opacity: 1;
	background-color: #181d1d;
	color: #009603;
}    

.testimonial-section .section-title { /*SUB HEADING BOX EX: coal-shipping.php*/
	margin-top: 50px;
	margin-bottom: 50px; 
	margin-right: 0px;
	margin-left: 0px;  
} 

.testimonial-section .section-title h4{  /*TEXT ON SUB HEADING  EX: With a track record of.. ON about-us.php*/
	color: white; 
	font-size: 20px;
	text-align: center; 
    line-height: calc(1.5*20px);
}

.testimonial-section img.center{ /*EX: corporate-structure.php*/
	display: block;
	position: relative;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;  
}

/*---------------------
ABOUT-TEXT
-----------------------*/
.about-text {
	background: white;
	padding-left: 100px;
	padding-right: 100px;
	width: 100%;
	height: auto;
}

.about-text .section-title img.image{  /*IMG ON MODAL.php*/
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.about-text .section-title h5{ /*EXECUTIVE ... ON MODAL.php*/
	color: #be9575;
	font-size: 18px;
}

.about-text .section-title h2 { /*Salim Limanto ON MODAL.php*/
	line-height: calc(1.5*40px);
	margin-bottom: 30px;
	font-size: 40px;
}

.about-text .section-title p { /*Mr Salim Limanto is ... ON MODAL.php*/
	white-space: pre-line;
	text-align: justify;
	font-weight: 600;   
	color: black;
	font-size: 16px;
	line-height: calc(1.5*16px)
} 

/*---------------------
FS-ABOUT
-----------------------*/
.fs-about {
	margin-bottom: 30px;
}
/*--------------------------------------------------------------
# Global
--------------------------------------------------------------*/

/*--------------------------------------------------------------
NAVBAR.PHP
--------------------------------------------------------------*/
/*---------------------
HEADER-SECTION
-----------------------*/
.header-section .container-fluid{
	background-color: #f1f1f1;
	transition: 0.4s; 
	position: fixed; 
	width: 100%; 
	top: 0; 
	z-index: 99;
} 

/*---------------------
LOGO
-----------------------*/
.logo {
	float: left;
	padding: 30px 0;
	margin-right: 60px;
}

.logo a {
	display: inline-block;
}

/*---------------------
NAV-MENU
-----------------------*/
.slicknav_menu {
	display: none;
}

.nav-menu {
	float: right;
}

.nav-menu ul li { /*Menu Bar*/
	list-style: none;
	display: inline-block;
	margin-right: 20px;
	position: relative;
}

.nav-menu ul li a { /*Menu Bar TEXT*/
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	color: #111111;
	display: block;
	padding: 32px 3px 30px;
	position: relative;
	font-family: "Quantico", sans-serif;
}

.nav-menu ul li a:after { 
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	width: 100%;
	background: #009603;
	content: "";
	opacity: 0;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.nav-menu ul li a:hover,
.nav-menu ul li.active a,
.nav-menu ul li .dropdown li.active a,
.nav-menu ul li .dropdown li a:hover{
	opacity: 1;
	color: #009603;
}

.nav-menu ul li .dropdown {
	position: absolute;
	left: 0;
	top: 105px;
	background: #111111;
	width: 280px;
	z-index: 99;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.nav-menu ul li:hover .dropdown {
	top: 86px;
	opacity: 1;
	visibility: visible;
}

.nav-menu ul li .dropdown li {
	display: block;
	margin-right: 0;
} 

.nav-menu ul li .dropdown li a {
	color: #ffffff;
	padding: 5px 18px;
	font-weight: 400;
	text-transform: capitalize;
}

.nav-menu ul li .dropdown li a:after {
	display: none;
}

.nav-menu ul li:hover>a:after,
.nav-menu ul li.active a:after {
	opacity: 1;
}    

.nav-menu ul li.lang {
	border: 1px solid black;
	border-radius: 20px;
	height: 30px;
	margin-top: 30px;
} 

.nav-menu ul li.lang:hover>a:after {
	opacity: 0;
}

.nav-menu ul li.lang a {
	display: inline-block;
	padding-top: 0px; 
	color: #003166;
}
/*---------------------
GSC-CONTROL-CSE
-----------------------*/
.gsc-control-cse {
	margin-top: 25px !important; 
	padding:1px !important;
	width: 150px !important;
	background-color: #f1f1f1 !important;
	border: none !important;
} 

.gsc-input-box {
	border: 1px solid black !important;
	background: #fff;
	border-radius: 20px !important;
}

input.gsc-input{
	padding-right: 0px  !important;
	background: url('../img/search.png') no-repeat scroll  center white !important;
	background-position: 8px;
}

.gsc-search-box .gsc-input:focus{ 
	background-color: yellow !important;    
	background: none !important;
}

.gsst_a .gscb_a,
.gsc-control-cse .gsc-search-button {
	display: none !important;
} 

/*--------------------------------------------------------------
NAVBAR.PHP
--------------------------------------------------------------*/

/*--------------------------------------------------------------
MODAL.PHP
--------------------------------------------------------------*/
/*---------------------
MODAL-DIALOG
-----------------------*/
.modal-dialog {
	max-width: 1000px;
	margin: 50px auto;
}

/*---------------------
MODAL-BODY
-----------------------*/
.modal-body {
	position:relative;
	padding:0px;
}

/*---------------------
CLOSE
-----------------------*/
.close { /*X Button on Modal MODAL.PHP*/
	position:absolute;
	right:-30px;
	top:0;
	z-index:999;
	font-size:2rem;
	font-weight: normal;
	color:#fff;
	opacity:1;
}

.close1 { /*X Button on Modal (POPOVER) SCRIPT.PHP*/
	top:0;
	z-index:999;
	font-size:15px;
	font-weight: 700;
	text-shadow: 2px 2px #000000;
	color: white;
	opacity:1;
}

.close1:hover{
	color: #ffa400;
}
/*--------------------------------------------------------------
MODAL.PHP
--------------------------------------------------------------*/

/*--------------------------------------------------------------
BOARD-OF-COMMISSIONERS.PHP
--------------------------------------------------------------*/
/*---------------------
DOT
-----------------------*/
.dot {
	border: 1px solid white;
	height: 25px;
	width: 25px;
	background-color: #bbb;
	opacity: 0.75;
	border-radius: 50%; 
	position: absolute;
	margin-left: 780px;
	margin-top: 140px;
}

.dot:hover{
	height: 30px;
	width: 30px;
	background-color: #bbb;
	opacity: 1;
	margin-left: 777px;
	margin-top: 138px;
}

.popover{
	margin-top: 0px;
	background-color: transparent;
	border-color: transparent;
} 

.popover-body{
	padding-top: 0px;
}

.popover .arrow{
	display: none;
}
/*--------------------------------------------------------------
BOARD-OF-COMMISSIONERS.PHP
--------------------------------------------------------------*/

/*--------------------------------------------------------------
SITEMAP.PHP
--------------------------------------------------------------*/
.fs-about .fa-logo { /*SITEMAP.PHP*/
	margin-bottom: 34px;
}
/*--------------------------------------------------------------
SITEMAP.PHP
--------------------------------------------------------------*/

/*--------------------------------------------------------------
BOARD-OF-DIRECTORS.PHP
--------------------------------------------------------------*/
/*---------------------
FA-LOGO1
-----------------------*/
.fs-about .fa-logo1 img{ 
	border-style: solid;
	border-color: rgb(0, 0, 0, 0.5);
	margin-top: 20px;
	width: 100%;
	height: 400px;
	object-fit: cover;
}
.fs-about .fa-logo1 .content {
	position: relative;
	border-style: solid;
	border-color: rgb(0, 0, 0, 0.5);
	bottom: 0;
	background: rgb(0, 0, 0); /* Fallback color */
	background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
	color: #f1f1f1;
	width: 100%;
	padding: 20px;
	height: 150px; 
} 
.fs-about .fa-logo1 .fa-name{
	position: absolute;
	bottom: 25px; 
	width: 100%;
} 
.fs-about .fa-logo1 .fa-name h2{
	font-size: 25px; 
} 
.fs-about .fa-logo1 .fa-name .col-sm-10{
	width: 80%;
}
.fs-about .fa-logo1 .fa-name .col-sm-2{
	width: 20%;
}  
.fs-about .fa-logo1 .content .fa-name i { 
	float: left; 
	cursor: pointer;
}
/*--------------------------------------------------------------
BOARD-OF-DIRECTORS.PHP
--------------------------------------------------------------*/

/*--------------------------------------------------------------
COAL-SHIPPING.PHP
--------------------------------------------------------------*/
/*---------------------
FA-LOGO2
-----------------------*/
.fs-about .fa-logo2{
	text-align: center;
}

.fs-about .fa-logo2 button{
	background-size: cover; 
	background-position: top center; 
	width: 350px;
	height: 300px; 
	margin-top: 20px;
}

.fs-about .fa-logo2 img{ 
	margin-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
	width: 100%;
	height: 200px;
	object-fit: cover;
}

.fs-about .fa-logo2 h6 { 
	padding-top: 20px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}

.fs-about .fa-logo2 a:hover { 
	top: 86px;
	opacity: 1;
	visibility: visible;
	color: #FF0000
}

.fs-about .fa-logo2 p { 
	text-align: center;
	margin-bottom: 0px;
	font-size: 20px;
}
/*--------------------------------------------------------------
COAL-SHIPPING.PHP
--------------------------------------------------------------*/

/*--------------------------------------------------------------
QUALITY-CONTROL.PHP
--------------------------------------------------------------*/
/*---------------------
nav
-----------------------*/
nav > .nav.nav-tabs{
	border: none;
	color:#fff;
	background:#272e38;
	border-radius:0;
}

nav > div a.nav-item.nav-link
{
	border: none;
	padding: 18px 25px;
	color:#fff;
	background:#272e38;
	border-radius:0;
}

nav > div a.nav-item.nav-link.active{
	border: none;
	padding: 18px 25px;
	color:#fff;
	background:#e74c3c;
	border-radius:0;
}

nav > div a.nav-item.nav-link.active:after
{ 
	position: relative;
	bottom: -60px;
	left: -10%;
	border: 15px solid transparent;
	border-top-color: #e74c3c ;
}

.tab-content{
	background: #fdfdfd;
	line-height: 25px;
	border: 1px solid #ddd;
	border-top:5px solid #e74c3c;
	border-bottom:5px solid #e74c3c;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus
{
	border: none;
	background: #e74c3c;
	color:#fff;
	border-radius:0;
	transition:background 0.20s linear;
}
/*--------------------------------------------------------------
QUALITY-CONTROL.PHP
--------------------------------------------------------------*/

/*--------------------------------------------------------------
INDEX.PHP
--------------------------------------------------------------*/
.hs-slider.owl-carousel .owl-item.active .hs-text p,
.hs-slider.owl-carousel .owl-item.active .hs-text .primary-btn {
	top: 0 ;
	opacity: 1;
} 
.normal .owl-nav { 
    display: contents;
	height: 100% !important;
}
.normal .owl-nav button {
	color: #ffffff !important;
	height: 50px;
	width: 50px;
	line-height: 50px;
	background: rgba(0, 0, 0, 0.5) !important ;
	border-radius: 50% !important;
	top: 50%; 
}

.hs-slider.owl-carousel .owl-nav button.owl-prev {
	left: 100px;
	right: auto;
}

.hs-slider.owl-carousel .owl-nav button.owl-next {
	left: auto;
	right: 100px;
} 

.hs-item {
	margin-top:50px;
	height: 600px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: left;
}
 

.hs-item .hs-text p {
	color: #ffffff;
	line-height: 40px; 
	font-weight: 700;
	text-shadow: 2px 2px #000000;
	font-size: 30px;
	position: relative; 
	-webkit-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out; 
	width: 100%;
	padding-left: 80px;
}

.hs-item .hs-text .primary-btn {
	position: relative;
	top: 100px;
	-webkit-transition: all 0.7s ease-out;
	-o-transition: all 0.7s ease-out;
	transition: all 0.7s ease-out; 
	margin-top: 10px;
	margin-left: 80px;
	border-color: #2680fc;
}

.services { /*INDEX.PHP*/
	position: relative;  
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 30px; 
}

.services::before {    
	content: "";
	background-image: url('../img/Coal-Shipping-page-title.jpg'); 
	background-size: cover;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: 0.3;
}

.services .icon-box {
	margin-bottom: 20px;  
}

.services .icon-box h4 { 
	font-weight: 700;
	margin-bottom: 15px;
	font-size: 25px;
}

.services .icon-box h4 a,
.section-title .table td a.download {
	color: #007bff; 
	transition: 0.3s;
	float: right;
	font-size: 16px;
	padding-top: 8px;
	text-decoration: underline;
	font-weight: 700;
}

.section-title a:hover,
.services .icon-box h4 a:hover,
.services .table td a:hover,
.section-title .table td a.download:hover {
	color: #325b91;
}

.services .table td,
.section-title .table td{
	text-align: left;
	font-size: 16px;
	color: #ff6700;
}

.services .table td:first-child,
.section-title .table td:first-child{
	width: 65px;
}

.services .table td img,
.section-title .table td img{
	height:50px;
}

.services .table td a,
.section-title .table td a{
	color: black;
	font-size: 20px;
	}
/*--------------------------------------------------------------
INDEX.PHP
--------------------------------------------------------------*/

/*--------------------------------------------------------------
CONTACT.PHP
--------------------------------------------------------------*/
.contact-text h4 {
	color: #111111;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.contact-text p {
	color: #111111;
	margin-bottom: 32px;
}

.contact-text .ct-item {
	overflow: hidden;
	margin-bottom: 30px;
}

.contact-text .ct-item .ct-icon {
	height: 80px;
	width: 80px;
	background: #009603;
	border-radius: 50%;
	font-size: 40px;
	line-height: 80px;
	text-align: center;
	color: #ffffff;
	float: left;
	margin-right: 30px;
}

.contact-text .ct-item .ct-text {
	overflow: hidden;
	padding-top: 12px;
}

.contact-text .ct-item .ct-text h5 {
	font-size: 20px;
	color: #111111;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.contact-text .ct-item .ct-text p {
	color: #444444;
	margin-bottom: 0;
}

.contact-text .ct-item .ct-text ul li {
	list-style: none;
	display: inline-block;
	margin-right: 30px;
	font-size: 15px;
	color: #444444;
	position: relative;
}

.contact-text .ct-item .ct-text ul li:after {
	position: absolute;
	right: -20px;
	top: -2px;
	content: "|";
}

.contact-text .ct-item .ct-text ul li:last-child {
	margin-right: 0;
}

.contact-text .ct-item .ct-text ul li:last-child:after {
	display: none;
}

.contact-form h3 {
	color: #111111;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 35px;
}

.contact-form form input {
	height: 50px;
	width: 100%;
	padding-left: 20px;
	font-size: 14px;
	color: #444444;
	background: transparent;
	margin-bottom: 30px;
	border: 1px solid #e1e1e1;
}

.contact-form form input::-webkit-input-placeholder,
.contact-form form input::-moz-placeholder,
.contact-form form input:-ms-input-placeholder,
.contact-form form input::-ms-input-placeholder,
.contact-form form input::placeholder,
.contact-form form textarea::-webkit-input-placeholder,
.contact-form form textarea::-moz-placeholder,
.contact-form form textarea:-ms-input-placeholder,
.contact-form form textarea::-ms-input-placeholder,
.contact-form form textarea::placeholder{
	color: #444444;
}  

.contact-form form textarea {
	width: 100%;
	padding-left: 20px;
	padding-top: 12px;
	height: 100px;
	font-size: 14px;
	color: #444444;
	background: transparent;
	resize: none;
	border: 1px solid #e1e1e1;
	margin-bottom: 24px;
} 
/*--------------------------------------------------------------
CONTACT.PHP
--------------------------------------------------------------*/

/*--------------------------------------------------------------
GROWTH-JOURNEY.PHP
--------------------------------------------------------------*/
.owl-carousel {
	position: relative;
	margin-top: 30px; 
}
.owl-carousel .owl-nav {
	position: absolute; 
	height: 50px;
	width: 100%;
	cursor: pointer; 
	top: 110px !important; 
}
.owl-theme .owl-nav [class*='owl-'] { /*Background Panah*/
	border-radius: 50px !important;
	background: grey !important;
	font-size: 100px !important; 
}
.owl-carousel .owl-nav button{
	position: absolute;
}
.owl-carousel .owl-nav span{
	vertical-align: top;
	line-height: normal;
}
.owl-carousel .owl-nav button.owl-prev {  
  	left: -50px;
} 
.owl-carousel .owl-nav button.owl-next {  
  	right: -50px;
}
.owl-dots {
	display: none;
	margin-top: 30px;
}
/*.uk-section { 
	width: 80%;
	display: block;
	position: relative;
	margin: 0 auto;
	margin-bottom: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
}
.uk-card-primary {
	border-radius: 8px;
	height: 500px;
	background: #111;
} 
.uk-card img{
	object-fit: fill; 
	height: 200px;
}
.uk-card button{
	font-size: 12px;
	position: absolute;
	bottom: 35px;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	background: #111;
	border-radius: 8px;
}
.uk-card h3 {
	font-size: 24px;
	margin-top: 10px;
	text-align: center;
}
.uk-card > :last-child {
	margin-top:0;
	margin-bottom: 10px;
}
.uk-card p {
	font-size: 14px;
	margin-bottom: 0;
	text-align: center;
}
.uk-card-title {
	padding-bottom: 20px;
}*/
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.timeline:before { /*Garis Tengah*/
    position: absolute;
    top: 40px;
    bottom: 22%;
    content: " ";
    width: 3px;
    background-color: #fed136;
    left: 50%;
    margin-left: -1.5px;
}

.timeline > li { /*Space Antar li*/
	margin-bottom: 25px;
    min-height: 180px;
    position: relative;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    position: relative; 
    width: 42%;
    left:20px;
    padding: 0 20px 0 100px;
    text-align: right;
}
.timeline > li > .timeline-badge {
    position: absolute;
    z-index: 2;
    left: 50%;
	color: white;
    width: 150px;
    height: 150px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    margin-left: -75px;		
    border: 7px solid #fed136;
    background-color: #fed136;
	border-radius: 100%;
} 
.timeline > li.timeline-inverted > .timeline-panel {
	left: -100px;
	padding: 0 20px 0 100px;
    float: right;
	text-align: left;
}
.timeline > li:last-child {
	margin-bottom: 0;
}
.timeline-title {
    margin-top: 0;
    color: inherit;
    font-size: 24px;
}
.timeline-heading p{
	font-weight: bold;
	line-height: 18px;
    font-size: 14px;
}
.timeline-body > p,
.timeline-body > ul {
	white-space: pre-line;
    margin-bottom: 0;
    font-size: 14px;
	margin-top: 5px;
}
.timeline-body > p + p {
	white-space: pre-line;
    margin-top: 5px;
}

/*--------------------------------------------------------------
GROWTH-JOURNEY.PHP
--------------------------------------------------------------*/

/*--------------------------------------------------------------
SITEMAP.PHP
--------------------------------------------------------------*/
.fs-widget {
	/*margin-bottom: 30px;*/
	overflow: hidden;
}

.fs-widget h5 {
	font-size: 20px;
	color: #ffffff;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.fs-widget ul {
	width: 100%;
	float: left;
}

.fs-widget ul li {
	list-style: none;
}

.fs-widget ul li.sub {
	margin-left: 25px;
	width: 100%;
}

.fs-widget ul li a {
	font-size: 15px;
	color: #c4c4c4;
	line-height: 36px;
	width: 100%;
}

.fs-widget ul li a :hover {
	top: 86px;
	opacity: 1;
	visibility: visible;
	color: #ffffff;
}

.fs-widget p {
	color: #c4c4c4;
}
/*--------------------------------------------------------------
SITEMAP.PHP
--------------------------------------------------------------*/

/*--------------------------------------------------------------
FOOTER.PHP
--------------------------------------------------------------*/
/*---------------------
BACK TO TOP BUTTON 
-----------------------*/
.back-to-top {
	position: fixed;
	display: none;
	right: 15px;
	bottom: 15px;
	z-index: 99999;
}

.back-to-top i {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	width: 40px;
	height: 40px;
	border-radius: 4px;
	background: #666666;
	color: #fff;
	transition: all 0.4s;
}

.back-to-top i:hover {
	background: #009603;
	color: #fff;
}

/*---------------------
FOOTER-SECTION
-----------------------*/
.footer-section {
	background: #000606; 
}

/*---------------------
COPYRIGHT-TEXT
-----------------------*/
.copyright-text { 
	font-size: 15px;
	color: #c4c4c4;
	text-align: center;
	border-top: 1px solid #181d1d;
	padding: 30px 0; 
}

.copyright-text p{
	font-weight: 700; 
}

.copyright-text a{
	color: #666666;
}

.copyright-text a:hover{
	color: #009603;
}
/*--------------------------------------------------------------
FOOTER.PHP
--------------------------------------------------------------*/

/*--------------------------------- Responsive Media Quaries -----------------------------*/
@media only screen and (min-width: 1430px) {
	.container {
		max-width: 1400px !important;
	}
	.logo {
		margin-right: 150px;
		margin-left: 85px;
	}
	.about-text {
		padding-left: 100px;
		padding-right: 110px;
	} 
	.fs-about .fa-logo1 .fa-name{ 
		font-size: 25px;
		bottom: 15px; 
	}  
	.hs-item .hs-text p { 
		width: 1200px; 
		padding-left: 150px;
	}
	.hs-item .hs-text .primary-btn { 
		margin-left: 150px; 
	}
	.dot {
		margin-left: 935px;
		margin-top: 180px; 
	}
	.dot:hover{
		margin-left: 935px;
		margin-top: 180px;
	} 
	.modal-dialog {
		max-width: 1200px; 
	} 
}

@media only screen and (min-width: 1200px) and (max-width: 1355px){
	.container {
		max-width: 1170px;
	}
	.logo {
		margin-right: 0px;
	}
	.hs-slider.owl-carousel .owl-nav button.owl-prev {
		left: 50px;
	}
	.hs-slider.owl-carousel .owl-nav button.owl-next { 
		right: 50px;
	}  
}

/* Medium Device = 1200px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.slicknav_menu { /*ALL NAVBAR*/
		display: block;
		background: transparent;
	}
	.slicknav_menu .slicknav_menutxt { /*Tulisan Menu*/
		display: none; 
	}
	.slicknav_btn { /*Button Untuk Icon*/
		margin: 0;
		background-color: transparent;
		padding: 0;
		margin-top: 30px;
	}
	.slicknav_menu .slicknav_icon-bar { /*Icon*/
		background-color: #111;
		width: 20px;
		height: 3px;
	}
	.slicknav_nav { /*Background After Click Icon*/
		background: #111; /*grey*/
	}
	.slicknav_nav ul.nav {
		margin: 0;
	}
	.slicknav_nav .slicknav_arrow{
		float: right;
	}
	.slicknav_nav a:hover,
	.slicknav_nav .slicknav_row:hover {
		border-radius: 0;
		background: #009603; /*Hijau*/
		color: #fff; /*Putih*/
	} 
	.slicknav_nav .slicknav_row,
	.slicknav_nav a {
		padding: 8px 30px; /*8px Top and Bottom, 30px left and Right*/
		margin: 0; 
	}
	.slicknav_nav ul.dropdown {
		margin-left: 10px;
	}
	.nav-menu {
		display: none;
	}
	.gsc-control-cse {
		margin-top: 0px !important; 
		width: auto !important;   
	}  
	.gsc-input-box {
		margin-top: 3px !important; 
		background: transparent; 
	}
	.logo {
		margin-right: 0px;
	}
	.hs-item {
		margin-top: 80px;
		height: 700px;
		padding: 200px 0 200px;
	}
	.hs-item .hs-text p {
		font-size: 20px;
		width: 850px;
		padding-left: 80px;
	} 
	.hs-slider.owl-carousel .owl-nav button.owl-prev {
		left: 50px;
	}
	.hs-slider.owl-carousel .owl-nav button.owl-next { 
		right: 50px;
	}  
	.cta-text h2{
		font-size: 48px;
	} 
	.cta-text p{
		font-size: 13px;
	} 
	.testimonial-section .section-title h4{
	    margin-left: 0px;
	    margin-right: 0px;
	    font-size: 16px;
	    line-height: calc(1.5*16px);
	}
	.about-text {
		padding-left: 30px;
		padding-right: 30px; 
		height: auto;
	} 
	/*.uk-card-primary { 
		height: 480px; 
	} 
	.uk-card img{ 
		height: 150px;
	}
	.uk-card button{
		font-size: 12px;   
	}
	.uk-card h3 {
		font-size: 18px; 
	}  
	.uk-card-title {
		padding-bottom: 15px;
	}*/
	.timeline:before {
	    bottom: 25%;
	}
	.timeline > li > .timeline-panel {
	    left:5px;
	    padding: 0 20px 0 50px;
	}
	.timeline > li.timeline-inverted > .timeline-panel {
		left: -5px;
		padding: 0 50px 0 20px;
	}
	.timeline > li:last-child {
		margin-bottom: 0;
	}
	.timeline-title {
	    margin-top: 0;
	    color: inherit;
	    font-size: 18px;
	}
	.timeline-heading p{
		line-height: 23px;
	    font-size: 20px; 
	}
	.timeline-body > p,
	.timeline-body > ul {
	    font-size: 20px; 
	} 
	.fs-about .fa-logo1 .content {
		height: 140px;
	}
	.fs-about .fa-logo1 .fa-name{ 
		font-size: 25px;
		bottom: 15px; 
	} 
	.fs-about .fa-logo1 .content p{
		font-size: 18px;
	}  
	.fs-about .fa-logo1 .fa-name h2{
		font-size: 25px;
	} 
	.fs-about .fa-logo2 button{
		background-size: cover; 
		background-position: top center; 
		width: 300px;
		height: 250px; 
		margin-top: 20px;
	} 
	.about-text .section-title h5{
		padding-top: 10px;
		font-size: 15px; 
	}
	.about-text .section-title h2{
		line-height: calc(1.5*32px);
		font-size: 32px; 
		margin-bottom: 15px;
	} 
	.about-text .section-title p{
		font-size: 13px;
		line-height: calc(1.5*13px);
	}
	.fs-about{
		margin-bottom: 5px;
	} 
	/*.dot {
		margin-left: 640px;
		margin-top: 120px;
		height: 20px;
		width: 20px; 
	}
	.dot:hover{
		margin-left: 638px;
		margin-top: 123px;
		height: 21px;
		width: 21px; 
	}
	.popover{
		margin-top: -5px;
	}*/
	.close1 { 
		font-size:13px;
	}
	.modal-dialog {
		max-width: 850px; 
	}   
} 

/* Tablet Device = 768px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.slicknav_menu { /*ALL NAVBAR*/
		display: block;
		background: transparent;
	}
	.slicknav_menu .slicknav_menutxt { /*Tulisan Menu*/
		display: none; 
	}
	.slicknav_btn { /*Button Untuk Icon*/
		margin: 0;
		background-color: transparent;
		padding: 0;
		margin-top: 30px;
	}
	.slicknav_menu .slicknav_icon-bar { /*Icon*/
		background-color: #111;
		width: 20px;
		height: 3px;
	}
	.slicknav_nav { /*Background After Click Icon*/
		background: #111; /*grey*/
	}
	.slicknav_nav ul.nav {
		margin: 0;
	}
	.slicknav_nav .slicknav_arrow{
		float: right;
	}
	.slicknav_nav a:hover,
	.slicknav_nav .slicknav_row:hover {
		border-radius: 0;
		background: #009603; /*Hijau*/
		color: #fff; /*Putih*/
	} 
	.slicknav_nav .slicknav_row,
	.slicknav_nav a {
		padding: 8px 30px; /*8px Top and Bottom, 30px left and Right*/
		margin: 0; 
	}
	.slicknav_nav ul.dropdown {
		margin-left: 10px;
	} 
	.nav-menu {
		display: none;
	}
	.gsc-control-cse {
		margin-top: 0px !important; 
		width: auto !important;    
	}  
	.gsc-input-box {
		margin-top: 3px !important; 
		background: transparent; 
	}
	.logo {
		margin-right: 0px;
	}
	.hs-item {
		margin-top: 80px;
		height: 700px;
		padding: 200px 0 200px;
	}
	.hs-item .hs-text p {
		font-size: 20px;
		width: auto;
		padding-left: 40px;
	}
	.hs-item .hs-text .primary-btn { 
		margin-left: 40px; 
	}
	.hs-slider.owl-carousel .owl-nav button.owl-prev {
		left: 10px; 
	}
	.hs-slider.owl-carousel .owl-nav button.owl-next { 
		right: 10px;
	} 
	.cta-text h2{
		font-size: 36px;
	} 
	.cta-text p{
		font-size: 11px;
	} 
	.testimonial-section .section-title h4{
		margin-left: 0px; 
		margin-right: 0px;
		font-size: 12px;
		line-height: calc(1.5*12px);
	}
	.about-text {
		padding-left: 30px;
		padding-right: 30px; 
		height: auto;
	}
	/*.uk-card-primary { 
		height: 480px; 
	} 
	.uk-card img{ 
		height: 150px;
	}
	.uk-card button{
		font-size: 12px;   
	}
	.uk-card h3 {
		font-size: 18px; 
	} 
	.uk-card p {
		font-size: 14px; 
	}
	.uk-card-title {
		padding-bottom: 15px;
	}*/
	.fs-about .fa-logo1 .content {
		height: 120px;
	}
	.fs-about .fa-logo1 .fa-name{ 
		font-size: 25px;
		bottom: 15px; 
	} 
	.fs-about .fa-logo1 .content p{
		font-size: 18px;
	}  
	.fs-about .fa-logo1 .fa-name h2{
		font-size: 23px;
	}  
	.about-text .section-title h5{
		padding-top: 10px;
		font-size: 11px; 
	}
	.about-text .section-title h2{
		line-height: calc(1.5*24px);
		font-size: 24px; 
		margin-bottom: 15px;
	} 
	.about-text .section-title p{
		font-size: 11px;
		line-height: calc(1.5*11px);
	}
	.fs-about{
		margin-bottom: 5px;
	} 
	/*.dot {
		margin-left: 475px;
		margin-top: 95px;
		height: 20px;
		width: 20px; 
	}
	.dot:hover{
		margin-left: 475px;
		margin-top: 95px;
		height: 21px;
		width: 21px; 
	}
	.popover{
		margin-top: -5px;
	}*/
	.close1 { 
		font-size:12px;
	}
	.modal-dialog {
		max-width: 680px; 
	}   
}

/* Wide Mobile = 576px */

@media only screen and (min-width: 576px) and (max-width: 767px) {
	.slicknav_menu { /*ALL NAVBAR*/
		display: block;
		background: transparent;
	}
	.slicknav_menu .slicknav_menutxt { /*Tulisan Menu*/
		display: none; 
	}
	.slicknav_btn { /*Button Untuk Icon*/
		margin: 0;
		background-color: transparent;
		padding: 0;
		margin-top: 30px;
	}
	.slicknav_menu .slicknav_icon-bar { /*Icon*/
		background-color: #111;
		width: 20px;
		height: 3px;
	}
	.slicknav_nav { /*Background After Click Icon*/
		background: #111; /*grey*/
	}
	.slicknav_nav ul.nav {
		margin: 0;
	}
	.slicknav_nav .slicknav_arrow{
		float: right;
	}
	.slicknav_nav a:hover,
	.slicknav_nav .slicknav_row:hover {
		border-radius: 0;
		background: #009603; /*Hijau*/
		color: #fff; /*Putih*/
	} 
	.slicknav_nav .slicknav_row,
	.slicknav_nav a {
		padding: 8px 30px; /*8px Top and Bottom, 30px left and Right*/
		margin: 0; 
	}
	.slicknav_nav ul.dropdown {
		margin-left: 10px;
	} 
	.nav-menu {
		display: none;
	}
	.gsc-control-cse {
		margin-top: 0px !important; 
		width: auto !important;    
	}  
	.gsc-input-box {
		margin-top: 3px !important;
		background: transparent;
	}
	.logo {
		margin-right: 0px;
	}
	.hs-item {
		margin-top: 80px;
		height: 700px;
		padding: 200px 0 200px;
	}
	.hs-item .hs-text p {
		font-size: 20px;
		width: auto;
		padding-left: 20px;
	}
	.hs-item .hs-text .primary-btn { 
		margin-left: 20px; 
	}
	.hs-slider.owl-carousel .owl-nav button.owl-prev {
		left: 3px; 
	}
	.hs-slider.owl-carousel .owl-nav button.owl-next { 
		right: 3px;
	} 
	.cta-text h2{
		font-size: 30px;
	} 
	.cta-text p{
		font-size: 11px;
	} 
	.testimonial-section .section-title h4{
		margin-left: 0px; 
		margin-right: 0px;
		font-size: 12px;
		line-height: calc(1.5*12px);
	}
	.about-text {
		padding-left: 10px;
		padding-right: 10px; 
		height: auto;
	}
	.fs-about .fa-logo1 .content {
		height: 120px;
	}
	.fs-about .fa-logo1 .fa-name{ 
		font-size: 25px;
		bottom: 15px; 
	} 
	.fs-about .fa-logo1 .content p{
		font-size: 18px;
	}  
	.fs-about .fa-logo1 .fa-name h2{
		font-size: 23px;
	}  
	.about-text .section-title h5{
		padding-top: 10px;
		font-size: 11px; 
	}
	.about-text .section-title h2{
		line-height: calc(1.5*24px);
		font-size: 24px; 
		margin-bottom: 15px;
	} 
	.about-text .section-title p{
		font-size: 11px;
		line-height: calc(1.5*11px);
	}
	.fs-about{
		margin-bottom: 5px;
	} 
	/*.dot {
		margin-left: 358px;
		margin-top: 80px;
		height: 12px;
		width: 12px;   
	}
	.dot:hover{
		margin-left: 357px;
		margin-top: 79px;
		height: 13px;
		width: 13px; 
	}
	.popover{
		margin-top: -5px;
	}*/
	.close1 { 
		font-size:12px;
	}
	.modal-dialog {
		max-width: 530px; 
	}   
}


/* Wide Mobile = 480px */

@media only screen and (min-width: 480px) and (max-width: 575px) {
	.slicknav_menu { /*ALL NAVBAR*/
		display: block;
		background: transparent;
	}
	.slicknav_menu .slicknav_menutxt { /*Tulisan Menu*/
		display: none; 
	}
	.slicknav_btn { /*Button Untuk Icon*/
		margin: 0;
		background-color: transparent;
		padding: 0;
		margin-top: 30px;
	}
	.slicknav_menu .slicknav_icon-bar { /*Icon*/
		background-color: #111;
		width: 20px;
		height: 3px;
	}
	.slicknav_nav { /*Background After Click Icon*/
		background: #111; /*grey*/
	}
	.slicknav_nav ul.nav {
		margin: 0;
	}
	.slicknav_nav .slicknav_arrow{
		float: right;
	}
	.slicknav_nav a:hover,
	.slicknav_nav .slicknav_row:hover {
		border-radius: 0;
		background: #009603; /*Hijau*/
		color: #fff; /*Putih*/
	} 
	.slicknav_nav .slicknav_row,
	.slicknav_nav a {
		padding: 8px 30px; /*8px Top and Bottom, 30px left and Right*/
		margin: 0; 
	}
	.slicknav_nav ul.dropdown {
		margin-left: 10px;
	} 
	.nav-menu {
		display: none;
	}
	.gsc-control-cse {
		margin-top: 0px !important; 
		width: auto !important;    
	}  
	.gsc-input-box {
		margin-top: 3px !important; 
		background: transparent; 
	}
	.logo {
		margin-right: 0px;
	}
	.hs-item {
		margin-top: 80px;
		height: 700px;
		padding: 200px 0 200px;
	}
	.hs-item .hs-text p {
		font-size: 20px;
		width: auto;
		padding-left: 0px;
	}
	.hs-item .hs-text .primary-btn { 
		margin-left: 0px; 
	}
	.hs-slider.owl-carousel .owl-nav button {
		display: none;
	}
	.cta-text h2{
		font-size: 24px;
	} 
	.cta-text p{
		font-size: 11px;
	} 
	.testimonial-section .section-title h4{
		margin-left: 0px; 
		margin-right: 0px;
		font-size: 12px;
		line-height: calc(1.5*12px);
	}
	.about-text {
		padding-left: 10px;
		padding-right: 10px; 
		height: auto;
	} 
	.fs-about .fa-logo1 .content {
		height: 120px;
	}
	.fs-about .fa-logo1 .fa-name{ 
		font-size: 25px;
		bottom: 15px; 
	} 
	.fs-about .fa-logo1 .content p{
		font-size: 18px;
	} 
	.fs-about .fa-logo1 .fa-name h2{
		font-size: 23px;
	}  
	.about-text .section-title h5{
		padding-top: 10px;
		font-size: 11px;
		text-align: center;
		font-weight: 700;
	}
	.about-text .section-title h2{
		line-height: calc(1.5*16px);
		font-size: 16px;
		text-align: center;
		margin-bottom: 15px;
		font-weight: 700;
	} 
	.about-text .section-title p{
		font-size: 11px;
		line-height: calc(1.5*11px)
	}
	.fs-about{
		margin-bottom: 5px;
	}   
	.testimonial-section img.center {    
		margin: auto;
	}
	.dot { 
		margin-left: 315px !important;
		margin-top: 71px !important;
		height: 13px;
		width: 13px;  
		z-index: 999;
	}
	.dot:hover{
		margin-left: 315px !important;
		margin-top: 71px !important;
		height: 13px;
		width: 13px;  
		z-index: 999; 
	}
	.popover{
		margin-top: -5px;
	}
	.close1 { 
		font-size:12px;
	}
	.modal-dialog {
		max-width: 400px; 
	}
}

/* Small Device = 320px */

@media only screen and (max-width: 479px) {
	.slicknav_menu { /*ALL NAVBAR*/
		display: block;
		background: transparent;
	}
	.slicknav_menu .slicknav_menutxt { /*Tulisan Menu*/
		display: none; 
	}
	.slicknav_btn { /*Button Untuk Icon*/
		margin: 0;
		background-color: transparent;
		padding: 0;
		margin-top: 30px;
	}
	.slicknav_menu .slicknav_icon-bar { /*Icon*/
		background-color: #111;
		width: 20px;
		height: 3px;
	}
	.slicknav_nav { /*Background After Click Icon*/
		background: #111; /*grey*/
	}
	.slicknav_nav ul.nav {
		margin: 0;
	}
	.slicknav_nav .slicknav_arrow{
		float: right;
	}
	.slicknav_nav a:hover,
	.slicknav_nav .slicknav_row:hover {
		border-radius: 0;
		background: #009603; /*Hijau*/
		color: #fff; /*Putih*/
	} 
	.slicknav_nav .slicknav_row,
	.slicknav_nav a {
		padding: 8px 30px; /*8px Top and Bottom, 30px left and Right*/
		margin: 0; 
	}
	.slicknav_nav ul.dropdown {
		margin-left: 10px;
	} 
	.nav-menu {
		display: none;
	}
	.gsc-control-cse {
		margin-top: 0px !important; 
		width: auto !important;    
	}  
	.gsc-input-box {
		margin-top: 3px !important; 
		background: transparent; 
	}
	.logo {
		margin-right: 0px;
	}
	.hs-item {
		margin-top: 80px;
		height: 700px;
		padding: 200px 0 200px;
	}
	.hs-item .hs-text p {
		font-size: 20px;
		width: auto;
		padding-left: 0px;
	}
	.hs-item .hs-text .primary-btn { 
		margin-left: 0px; 
	}
	.hs-slider.owl-carousel .owl-nav button {
		display: none;
	}
	.cta-text h2{
		font-size: 20px;
	} 
	.cta-text p{
		font-size: 11px;
	} 
	.testimonial-section .section-title h4{
		margin-left: 0px; 
		margin-right: 0px;
		font-size: 12px;
		line-height: calc(1.5*12px);
	}
	.about-text {
		padding-left: 30px;
		padding-right: 30px; 
		height: auto;
	}
	.uk-card-primary { 
		height: 480px; 
	} 
	.uk-card img{ 
		height: 130px;
	}
	.uk-card button{
		font-size: 12px;   
	}
	.uk-card h3 {
		font-size: 18px; 
	} 
	.uk-card p {
		font-size: 14px; 
	}
	.uk-card-title {
		padding-bottom: 15px;
	}
	.fs-about .fa-logo1 .content {
		height: 120px;
	}
	.fs-about .fa-logo1 .fa-name{ 
		font-size: 25px;
		bottom: 15px; 
	} 
	.fs-about .fa-logo1 .fa-name h2{
		font-size: 20px;
	} 
	.about-text .section-title h5{
		padding-top: 10px;
		font-size: 11px;
		text-align: center;
		font-weight: 700;
	}
	.about-text .section-title h2{
		line-height: calc(1.5*16px);
		font-size: 16px;
		text-align: center;
		margin-bottom: 15px;
		font-weight: 700;
	}
	.about-text .section-title p{
		font-size: 11px;
		line-height: calc(1.5*11px);
	}
	.fs-about{
		margin-bottom: 5px;
	}  
	.testimonial-section img.center {    
		margin: auto;
	}
	.dot { 
		margin-left: 238px !important;
		margin-top: 60px !important;
		height: 10px;
		width: 10px;  
		z-index: 999;
	}
	.dot:hover{
		margin-left: 238px !important;
		margin-top: 60px !important;
		height: 10px;
		width: 10px;  
		z-index: 999; 
	}
	.popover{
		margin-top: -5px;
	}
	.close1 { 
		font-size:7px;
	}
	.modal-dialog {
		max-width: 300px; 
	}
} 
